.box {
	display: flex;
}

.box .inner {
	width: 250px;
	height: 150px;
	line-height: 200px;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: #cd5c5c;
	color: darkred;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: #f08080;
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.6s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}